* ::before,
* ::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: auto;
  margin-top: 50px;
  background-color: rgb(61, 0, 228);
  width: 500px;
  height: 350px;
  border: 5px solid;
  border-color: black;
  border-width: 15px;
}

.startBtn {
  font-size: x-large;
  font-weight: bolder;
}

#start-btn {
  margin-left: 75px;
  width: 30%;
  height: 35px;
  background-color: green;
  box-shadow: 20px;
  border: solid black;
  border-radius: 10px;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(9, 103, 129);
}

#btn-grid {
  padding: 25px;
  display: grid;
}

.btn {
  width: 200px;
  margin: 7px;
  background-color: gold;
  box-shadow: 20px;
  border: solid black;
  border-radius: 10px;
}

#question {
  font-weight: bolder;
  line-height: 35px;
  font-size: 20px;
}

.scoring {
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(10, 10, 9);
  background-color: gold;
  box-shadow: 20px;
  border: solid black;
  border-radius: 10px;
}

.countdown {
  margin-left: 600px;
  font-size: xx-large;
  border: solid;
  border-color: rgb(8, 8, 8);
  background-color: gold;
  width: 50px;
  text-align: center;
}

.hide {
  display: none;
}

#home {
  margin-top: 200px;
}

#clear {
  margin-left: 75px;
}
